body {
    margin: 0;
}
.experience-container{
    background-color: teal;
    width: 100%;
    padding-top: 2%;
}

.experience-title {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 500;
    letter-spacing: 1.2px;
    text-align: center;
}

.experience-project-name {
    font-family:'Times New Roman', Times, serif;
    font-size: 500;
    letter-spacing: 1.2px;
    max-width: 90%;
}

.experience-items-wrapper {
    font-size: 20px;
    width: 90%;
    display: flex;
}

#img-experience {
    width: 100%;
    height: 50%;
    object-fit:contain;
    margin-top: 5px;
    text-align: center;
}

.image-experience-wrapper {
    display: flex;
    height: 50%;
    position:absolute;
}



.experience-item {
    margin-left: 3%;
    width: 90%;
    height: 2000px;
}

.specific-item {
    width: 60%;
}

.specific-item-picture {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
}