body {
    margin: 0;
}

.aboutme-wrapper {
    width: 100%;
    display: flex;
    background-color: #659dbd;
}

.image-javier-wrapper {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.javier-information-wrapper {
    max-width: 55%;
    justify-content: center;
    align-items: flex-end;
    margin-left: 3%;
    color: whitesmoke;
}

#image-scooter {
    padding: 5%;
    max-width: 100%;
    display: block;
}

